body {
    background-color: lightblue;
    margin: 0;
}

#banner {
    background-color: beige;
    padding-left: 10px;
}

#nav a {
    text-decoration: none;
    padding: 5px;
    background-color: black;
    color: white;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.grid-container-3-col {

}